body
  background: linear-gradient(135deg, $gradient-start, $gradient-end)
  color: $light
  font-family: $font-family
  font-weight: $font-weight
  font-size: $font-size
  line-height: $line-height
  margin: 0
  min-height: 100vh
  -webkit-text-size-adjust: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

@media (prefers-color-scheme: dark)
  body
    background: linear-gradient(135deg, $gradient-end, $gradient-start)
    color: $light

@media (max-width: 768px) 
  body
    font-size: calc(0.8rem + 1vw) // Adjust font size for readability
    padding: 1em

  body > header, body > footer
    padding: 1em
    flex-direction: column // Stack header and footer items

  article header h1
    font-size: 1.5em // Slightly smaller header font size

  nav
    margin: .5em 0 // Adjust margins for navigation on mobile

  nav a
    margin: .5em .5em // Reduce link margins for better fit on small screens

blockquote
  padding: 0.5em 1em // Reduce padding in blockquotes for better fit on mobile

pre
  font-size: .9em // Increase preformatted text size for readability on mobile
  padding: .6em 1em
